{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/easing.min.js' %}"></script>
<script src="{% static 'js/owl-carousel.min.js' %}"></script>
<script src="{% static 'js/twitterFetcher_min.js' %}"></script>
<script src="{% static 'js/jquery.newsTicker.min.js' %}"></script>
<script src="{% static 'js/modernizr.min.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src='{% static "js/highlight.pack.js" %}'></script>
